{
 "extends": "airbnb",
 "plugins": [
   "react"
 ],
 "env": {
   "browser": true,
   "es6": true
 },
 "rules": {
   "react/prefer-stateless-function": "off",
   "react/jsx-filename-extension": "off",
   "quotes": [2, "single"],
   "max-len": ["warn", 100],
   "arrow-body-style": 0,
   "class-methods-use-this": "off",
   "import/no-extraneous-dependencies": "off",
   "react/forbid-prop-types": "off",
 }
}
